{% extends '_base.html' %}
{% block content %}
<div class="container">
    <div class="header">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <div class="logo">
                    <img src="/../static/img/logo.svg" alt="logo" />
                    <span class="logo-wrapper">CHECK<br />EAT</span>
                </div>
            </div>
        {% include '_nav.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form">
                <h4 class="form-header">Добавить заведение</h4>
                <form action="">
                    {% csrf_token %}
                    <div class="create-wrapper">
                        <label for="#">Название заведения</label>
                        <input name="title" type="text" class="form-input-mg">
                        <label for="#">Адрес</label>
                        <input name="address" type="text" class="form-input-mg">
                        <label for="#">Телефон</label>
                        <input name="phone" type="phone" class="form-input-mg">

                        <div class="work-time-wrapper row justify-content-between">
                            <p class="col align-self-center">Часы работы:</p>
                            <div class="work-time col align-self-end">
                                <p class="inline-p">с:</p>
                                <input name="start" type="text" class="form-input-exact form-input-small" placeholder="12">
                                <p class="inline-p">до:</p>
                                <input name="end" type="text" class="form-input-exact form-input-small" placeholder="12">
                            </div>
                        </div>

                        <div class="places-wrapper row">
                            <p class="col places-header">Возможные места:</p>

                            <div class="create-places">
                                <div class="places-wrap-item row justify-content-between">
                                    <p class="col align-self-center">Место:</p>
                                    <div class="col align-self-end">
                                        <input name="place-location" type="text" class="form-input-exact" placeholder="Столик на улице">
                                    </div>
                                </div>

                                <div class="places-wrap-item row justify-content-between">
                                    <p class="col align-self-center">Стол рассчитан на:</p>
                                    <div class="col align-self-end">
                                        <input name="persons-number" type="text" class="form-input-exact" placeholder="12">
                                    </div>
                                </div>

                                <div class="places-wrap-item  row justify-content-between">
                                    <p class="col align-self-center">Количество столов:</p>
                                    <div class="col align-self-end">
                                        <input name="tables-number" type="text" class="form-input-exact" placeholder="10">
                                    </div>
                                </div>
                                <div class="line"></div>
                            </div>

                            <button type="button" class="add-place designed-btn">
                                <img src="/../static/img/add.svg" alt="+">
                                <p>Добавить место</p>
                            </button>

                            <div class="add-photo">
                                <p for="rest_pic">Прикрепить фото</p>
                                <input type="file" id="rest_pic" name="rest_pic"
                                    accept=".jpg, .jpeg, .png, .svg">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="main-btn form-btn">Добавить заведение</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
