{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="header">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <div class="logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" />
                    <span class="logo-wrapper">CHECK<br />EAT</span>
                </div>
            </div>
            {% include '_nav.html' %}
        </div>
    </div>


    <div class="row">
           <p class="list-header">Список ваших ресторанов:</p>
    </div>
    {% for restaurant in restaurants %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 col-12 align-self-start">
            <p class="restaurant-name">{{restaurant.name}}</p>
            <a href="{% url 'restaraunt_update' restaurant.id %}"><small class="restaurant-change-btn">Изменить</small></a>
            <a href="{% url 'restaraunt_delete' restaurant.id %}"><small class="restaurant-change-btn">Удалить</small></a>
            <div class="align-self-end">
                <img class="restaurant-photo " src="{% static 'img/restaurant1.svg' %}" alt="restaurant">
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 restaurant-description align-self-end">
            <p class="guests">Гостей: 12 из 52</p>
            <p class="time">Время: с {{restaurant.open_time}} до {{restaurant.close_time}}</p>
            <p class="places inline-p">Места:
            {% for place in restaurant.tabletype_set.all %}
                <p class="inline-p">&nbsp{{place.name}}: {{ place.table_set.count }}</p>
            {% endfor %}
            </p>
            <p class="adress">{{restaurant.address}}</p>
            <p class="phone-number">{{restaurant.phone}}</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-12 btn-wrapper align-self-end">
            <button type="submit" class="main-btn list-btn">Меню заведения</button>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'restaraunt_create' %}">
    <button type="submit" class="add-restaurant designed-btn">

            <img src="{% static 'img/add.svg' %}" alt="+">
            <p>Добавить заведение</p>

    </button>
    </a>
</div>
{% endblock %}