<div class="popup popup-confirm-phone">
    <div class="popup-dialog">
        <div class="popup-content popup-content-confirm-phone">
            <button class="popup-close">&times;</button>
            <p class="">Введите телефон, указанный при бронировании.</p>
            <div class="form-confirm popup-form">
                <form action="#" id="confirm-phone" onsubmit="validateData(this);return false;">
                    <input name="phone" type="text" class="form-input" placeholder="Телефон">
                    <button type="submit" class="main-btn form-btn">Показать меню</button>
                </form>
            </div>
        </div>
    </div>
</div>