{% extends '_base.html' %}
{% load static %}
{% block content %}
 <div class="container">
    <div class="header">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                <div class="logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" />
                    <span class="logo-wrapper">CHECK<br />EAT</span>
                </div>
            </div>
            {% include '_nav.html' %}
        </div>
    </div>

    <div class="row">
            <p class="list-header">Для подтверждения брони укажите ваши данные</p>
    </div>
    <div class="row">
        <div class="form-confirm popup-form">
            <form action="#" id="confirm-book" onsubmit="validateData(this);return false;">
                <div class="confirm-wrapper">
                <input name="name" type="text" class="form-input" placeholder="Имя">
                <input name="phone" type="text" class="form-input" placeholder="Телефон">
                </div>
                <div class="confirm-form-wrapper">
                    <div class="available-seats">
                        <p>Доступные места:</p>
                        <input type="radio" class="second" name="seat" value="in">
                        <label for="2" class="second">В заведении</label>
                        <input type="radio" class="first" name="seat" value="out">
                        <label for="1" class="first">На улице</label>
                    </div>
                    <div class="guests">
                        <p class="inline-p align-left">Количество гостей:</p>
                        <input type="text" name="guests" class="form-input-exact form-input-small" placeholder="12">
                    </div>
                    <div class="available-time">
                        <p>Доступное время:</p>
                    </div>
                </div>
                <a class="a-book"><p class="p-book">Я уже забронировал</p></a>
                <button type="submit" class="main-btn form-btn">Забронировать</button>
            </form>
        </div>
    </div>
{% include '_phone.html' %}
</div>
{% endblock %}
